<meta charset="utf-8" />
<meta charset="utf-8" />
<b style="font-weight:normal" id="docs-internal-guid-86ac188d-7fff-e85a-0783-c6104313121e">
<div dir="ltr" align="left">
<table style="border:none;border-collapse:collapse">
	<colgroup><col width="602" /></colgroup>
	<tbody>
		<tr style="height:292.5pt">
			<td style="vertical-align:top;overflow:hidden;overflow-wrap:break-word">
			<p dir="ltr" style="line-height:1.38;margin-right: 12pt;margin-top:9pt;margin-bottom:15pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Olá, Karine!</span></p>
			<p dir="ltr" style="line-height:1.38;margin-right: 12pt;margin-top:20pt;margin-bottom:26pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">O cliente Bosch navegou no Concierge e tem interesse nos produtos abaixo:</span></p>
			<p dir="ltr" style="line-height:1.2;margin-right: 12pt;margin-top:20pt;margin-bottom:26pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">28055E - </span><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#212529;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">MADAM MATT BLACK 07X24 Natural Bold - 250m²</span></p>
			<p dir="ltr" style="line-height:1.2;margin-right: 12pt;margin-top:20pt;margin-bottom:26pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#212529;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">26054E - ARAUCARIA CLARA 20X120 Externo Retificado - 400m²</span></p>
			<p dir="ltr" style="line-height:1.38;margin-right: 12pt;margin-top:20pt;margin-bottom:26pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#500050;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Os dados de contato registrados no sistema são:</span></p>
			<p dir="ltr" style="line-height:1.2;margin-right: 12pt;margin-top:9pt;margin-bottom:15pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Cliente: Bosch</span></p>
			<p dir="ltr" style="line-height:1.2;margin-right: 12pt;margin-top:9pt;margin-bottom:15pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Usuário: Comprador-Bosch</span></p>
			<p dir="ltr" style="line-height:1.2;margin-right: 12pt;margin-top:9pt;margin-bottom:15pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Email de contato: </span><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1155cc;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">bosch@bosch.com</span></p>
			<br />
			<p dir="ltr" style="line-height:1.38;margin-right: 12pt;margin-top:20pt;margin-bottom:26pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Boas vendas!</span></p>
			<p dir="ltr" style="line-height:1.38;margin-right: 12pt;margin-top:9pt;margin-bottom:15pt"><span style="font-size:11.5pt;font-family:Montserrat,sans-serif;color:#1d1c1d;background-color:transparent;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap">Concierge Portobello</span></p>
			</td>
		</tr>
	</tbody>
</table>
</div>
<br />
</b>
