<blockquote type="cite" class="c-mrkdwn__quote" data-stringify-type="quote" style="box-sizing: inherit; margin: 4px 0px; padding: 0px 0px 0px 16px; position: relative; counter-reset: list-0 0 list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0 list-9 0; color: rgb(29, 28, 29); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 15px; font-variant-ligatures: common-ligatures; text-align: left; background-color: rgb(255, 255, 255)"><span style="font-weight: bold;">Olá {trader}</span>,<br style="box-sizing: inherit" />
O cliente {nome cliente} navegou no Concierge e tem interesse nos produtos abaixo:{lista favoritos} (sku / produto/ qtde)Os dados de contato registrados no sistema são:<br style="box-sizing: inherit" />
{cliente}<br style="box-sizing: inherit" />
{usuário}<br style="box-sizing: inherit" />
{email de contato}</blockquote>
<blockquote type="cite" class="c-mrkdwn__quote" data-stringify-type="quote" style="box-sizing: inherit; margin: 4px 0px; padding: 0px 0px 0px 16px; position: relative; counter-reset: list-0 0 list-1 0 list-2 0 list-3 0 list-4 0 list-5 0 list-6 0 list-7 0 list-8 0 list-9 0; color: rgb(29, 28, 29); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 15px; font-variant-ligatures: common-ligatures; text-align: left; background-color: rgb(255, 255, 255)">
<p>Boas vendas!</p>
Concierge Portobello</blockquote>
