<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        
        <h1>Olá {trader},</h1>
        
O cliente {nome cliente} navegou no Concierge e tem interesse nos produtos abaixo:
{lista favoritos} (sku / produto/ qtde)
Os dados de contato registrados no sistema são:
{cliente}
{usuário}
{email de contato}
Boas vendas!
Concierge Portobello

    </body>
</html>